[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "npsurvSS"]
	path = npsurvSS
	url = https://github.com/godwinyyung/npsurvss
	shallow = true
	registered = true
